@using RazorEngine
@using Gallerize.Models
@model Gallerize.Models.ViewData

<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>@Model.Title</title>
	<style type="text/css">
		body,
		html {
			background: rgb(25, 25, 30);
			color: rgba(240, 240, 250, 0.8);
			font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
			padding: 0;
			margin: 0;
		}

		* {
			box-sizing: border-box;
		}

		a {
			color: #fdee1c;
			text-decoration: none;
		}

			a:hover {
				color: #fffbc5;
			}

			a:active,
			a:visited {
				color: #ebdc13;
			}

		/* Header */

		header {
			background: rgba(255, 255, 255, 0.1);
			padding: 5px 20px;
			text-align: center;
			text-transform: uppercase;
			border-bottom: 2px solid rgba(255, 255, 255, 0.2);
			margin-bottom: 40px;
			font-size: 30px;
			font-weight: bold;
		}

		/* Groups headers */

		.group-header {
			background: rgba(255, 255, 255, 0.1);
			padding: 5px 20px;
			text-align: center;
			border-top: 2px solid rgba(255, 255, 255, 0.2);
			border-bottom: 2px solid rgba(255, 255, 255, 0.2);
			margin-top: 40px;
			margin-bottom: 40px;
			font-size: 25px;
		}

			.group-header h3 {
				margin: 0;
				padding: 0;
			}

			.group-header h4 {
				margin: 0;
				padding: 0;
				font-size: 12px;
				font-family: Courier New, Courier, monospace;
			}

		/* Items */

		.item {
			text-align: center;
			padding: 20px;
			position: relative;
		}

			.item img {
				max-width: 100%;
			}

			.item p {
				margin-top: 5px;
				font-size: 12px;
			}

				.item p a {
					color: rgba(255, 255, 255, 0.4);
				}

					.item p a:hover {
						color: rgba(255, 255, 255, 0.6);
					}
	</style>
</head>
<body>
	<header>
		<h1>Gallerize</h1>
		<h2></h2>
	</header>
	<section>
		@{
			var index = 0;
		}
		@foreach (var group in Model.Groups) {
			<div class="group">
				@if (group.Name != null) {
					<div class="group-header">
						<h3>@group.Name</h3>
						<h4><a href="file://@group.Path" target="_blank">@group.Path</a></h4>
					</div>
				}

				@foreach (var item in group.Items) {
					index++;
					<div class="item" tabindex="@index">
						<img src="@item.Path" alt="@item.Name" />
						<p><a href="file://@item.Path" target="_blank" tabindex="-1">
						   	@item.Name
						</a></p>
					</div>
				}
			</div>
		}
	</section>
</body>
</html>